@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100vh;
    font-family: "Sora", sans-serif;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5EAF0;
}


#container {
    width: 20vw;
    height: 47vh;
    border-radius: 2vh;
    background-color: #fff;
}


#img {
    height: 40%;
    border-radius: 2vh;
    margin: 2vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/dccl--responsive-mini-blog-card/images/cactus_img.jpg);
}

button {
    border: none;
    margin: 0vh 2vh;
    font-weight: 800;
    color: #883AE1;
    border-radius: 2vh;
    padding: 0.5vh 1vw;
    font-size: 0.625rem;
    background-color: #E6D6FC;
}

h1 {
    margin: 2vh;
    color: #20293A;
    font-size:  1.125rem;
}

p {
    margin: 1vh 2vh;
    padding-right: 1vw;
    color: #6C727F;
    line-height: 2.6vh;
    font-size: 0.875rem;
}

hr {
    margin-top: 2vh;
    border-color: hsla(0, 0%, 0%, 0.1);
}

address {
    margin: 2vh;
    color: #6C727F;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}